

body {background-color : black}
.main{
    margin-top: auto;
}
.picture {
    display: flex; 
    justify-content: center; 
}

.img {
  width : 8%;
  height: 8%;
  border-radius:  90%;
}
/*.img {
  display:block;
  margin-right: auto;
  margin-left : auto;
  width: 50%;} */

input[type=text] {

  width: 30%;
  padding: 10px 10px;
  margin: 8px 0;
  display: block;
  border: 1px;
  border-radius: 4px;
  box-sizing: border-box;
  text-align :center;
  background-color : #333333;
  color : #EEEEEE;
  margin-right: auto;
  margin-left : auto;


}